<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <style>
    a{display:block;}
        input{width: 100px}
    </style>
</head>
<body>

<a asp-controller="Menu" asp-action="Materials">Материалы</a>
<a asp-controller="Menu" asp-action="InputMaterials">Материалы поступившие на склад</a>
<a asp-controller="Menu" asp-action="OutputMaterials">Списанные материалы</a>
<a asp-controller="Menu" asp-action="IransferMaterials">Материалы в производстве</a>

</body>
</html>